---
layout: default
---

{% if page.css %}
	<style>
		{{ page.css }}
	</style>
{% endif %}

<article{% if page.lang %} lang="{{ page.lang }}"{% else %} lang="en"{% endif %}>
	<header>
		<h2>
			{% if page.link %}
				<a href="{{ page.link }}" class=external>{{ page.title }} <span></span></a>
			{% else %}
				{{ page.title }}
			{% endif %}
		</h2>

		{% if page.date %}<small>By <span rel=author>{{ site.author.name }}</span> on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time></small>{% endif %}
	</header>
	{{ content }}
</article>